* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    color: #fff;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1rem auto;
    align-items: center;
    background-color: #000;
}

.menu {
    font-size: 2.6rem;
    padding: 3rem 0 0 3rem;
    color: #fff;
}

.header-texto h1 {
    margin: 2rem 2rem;
    letter-spacing: 1rem;
    display: inline;
}

.header-texto p {
    margin: 2rem 8rem;
    text-align: left;
}

.header-links {
    margin: 2rem 4rem;
    justify-self: end;
}

a {
    color: #fff;
    text-decoration: none;
}

.container-section {
    background-color: #999;
    display: flex;
    align-items: stretch;
    color: white;
    min-height: 60vh;
    background-image: url(../Images/mulheres.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    padding-top: 5rem;
}

.section-texto h1 {
    color: #000;
    margin: 2rem 6rem;
    font-weight: 600;
}

.section-texto p {
    max-width: 60%;
    line-height: 30px;
    margin: 6rem;
    font-size: 20px;
    font-weight: 600;
}

.btn {
    display: inline-block;
    text-align: center;
    margin-bottom: 4rem;
    padding: 10px 10px;
    color: #fff;
    background: linear-gradient(45deg, #000, #000);
    border: 2px solid #000;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
    margin-left: 6rem;
}

.btn:hover {
    color: #000;
    font-weight: 800;
    background: linear-gradient(45deg, #ffd700, #ff8c00);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateY(-3px);
}

.card {
    flex: 1; 
    height: 100%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 1.5rem;
}

.card-body .btn {
    margin: 1.5rem 0;
    padding: 10px 20px;
    flex: 1;
    flex-direction: column;
}

.card-body h5 {
    margin: 10px 0px;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 10px 20px
}

.card .card-imagem{
    filter: grayscale(40%);
    flex: 1;
}

footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.footer-prg {
    padding-top: 1rem;
    font-size: 1.2rem;
}

.footer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.footer-icones {
    display: flex;
    font-size: 2rem;
    padding: 2rem;
    letter-spacing: 3rem;
    align-items: center;
    text-align: center;
}

@media (max-width: 500px) {
    header {
        grid-template-columns: 100%; /* Full width for small screens */
    }

    .menu {
        padding: 2rem;
    }

    .header-texto h1,
    .header-texto p,
    .header-links {
        margin: 1rem;
    }

    .container-section {
        padding-top: 3rem;
        flex-direction: column;
        align-items: center;
    }

    .section-texto h1,
    .section-texto p {
        margin: 1rem;
    }

    .section-texto h1 {
        text-align: center
    }

    .section-texto p {
        max-width: 90%;
        font-size: 1.4rem;
        text-align: center;
    }

    .btn {
        margin-left: 0;
    }
}

@media (max-width: 250px) {
    html {
        font-size: 50%;
    }

    header {
        grid-template-columns: 100%;
    }

    body {
        font-size: 1.2rem;
    }

    .menu {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .header-texto h1,
    .header-texto p,
    .header-links {
        margin: 1rem;
    }

    .header-texto h1 {
        letter-spacing: 0.5rem;
        font-size: 1.5rem;
    }

    .header-texto p {
        text-align: center;
    }

    .container-section {
        padding-top: 3rem;
    }

    .section-texto h1,
    .section-texto p {
        margin: 0.5rem;
        font-size: 1rem;
    }

    .section-texto p {
        max-width: 80%;
        margin: 2rem;
        font-size: 1rem;
}

    .card-body h5 {
        font-size: 1.5rem;
        padding: 10px;
}

    .btn {
        margin-left: 0.5rem;
    }

    .footer-icones {
        padding: 0.5rem;
        letter-spacing: 0.5rem;
    }
}